.box {
  border: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.expand-margin {
  margin-left: -15px;
  margin-right: -15px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

table, td {
  border: 1px solid black;
}

td:first-child {
  text-align: right;
}

td {
  padding: 5px;
}

.tableCol1 {
  text-align: right;
}


/*.customerCharges {
  float: right;
}

.myEarningsInfo {
  float: right;
}*/

.resetButton {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

