<!-- <h3 class='expand-margin'>Enter Meal Details</h3> -->
<h3>Enter Meal Details</h3>
<form name='form' novalidate>
  <table>
    <tr>
      <td>Base Meal Price: $</td>
      <td>
        <input type='number' name='basePrice' ng-model='mealDetails.basePrice' placeholder='9.99' required>
      </td>
    </tr>
    <tr>
      <td>Tax Rate: %</td>
      <td>
        <input type='number' name='taxRate' ng-model='mealDetails.taxRate' placeholder='8.75' required>
      </td>
    </tr>
    <tr>
      <td>Tip Percentage: %</td>
      <td>
        <input type='number' name='tipPercentage' ng-model='mealDetails.tipPercentage' placeholder='18' required>
      </td>
    </tr>
  </table>
  <div>
    <button ng-click='submitClicked()'>Submit</button>
    <button ng-click='cancelClicked()'>Cancel</button>
  </div>
  <br>
  <p ng-if='form.submitAttempted && form.$error.required'>Please enter numbers in each field</p>
</form>

<h3 class='text-center'>Customer Charges</h3>
<table>
  <tr>
    <td>Subtotal: $</td>
    <td ng-if='!customerCharges.subTotal'>-</td>
    <td ng-if='customerCharges.subTotal'>{{customerCharges.subTotal | number:2}}</td>
  </tr>
  <tr>
    <td>Tip: $</td>
    <td ng-if='!customerCharges.tip'>-</td>
    <td ng-if='customerCharges.tip'>{{customerCharges.tip| number:2}}</td>
  </tr>
  <tr class='total'>
    <td>TOTAL: $</td>
    <td ng-if='!customerCharges.total'>-</td>
    <td ng-if='customerCharges.total'>{{customerCharges.total | number:2}}</td>
  </tr>
</table>
