<!-- python -m SimpleHTTPServer 8080 -->
<html ng-app='WaitstaffCalculator'>
<head>
  <title>Waitstaff Calculator</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <div ng-controller='WaitstaffCalculatorController'>
    <h1 class='text-center'>Waitstaff Calculator</h1>
    
    <div class='row'>

      <div class='box col-sm-offset-1 col-sm-5 text-center'>
        <h3 class='expand-margin'>Enter Meal Details</h3>
        <form>
          <table>
            <tr>
              <td>
                Base Meal Price: $
              </td>
              <td>
                <input ng-model='mealDetails.basePrice' placeholder='9.99'>
              </td>
            </tr>
            <tr>
              <td>Tax Rate: %</td>
              <td>
                <input ng-model='mealDetails.taxRate' placeholder='8.75'>
              </td>
            </tr>
            <tr>
              <td>Tip Percentage: %</td>
              <td>
                <input ng-model='mealDetails.tipPercentage' placeholder='18'>
              </td>
            </tr>
          </table>
          <button ng-click='submitClicked()'>Submit</button>
          <button ng-click='cancelClicked()'>Cancel</button>
        </form>
      </div>

      <div class='col-sm-5'>
        <div class='box customerCharges'>
          <h3 class='text-center'>Customer Charges</h3>
          <table>
            <tr>
              <td>Subtotal:</td>
              <td ng-if='!customerCharges.subTotal'>-</td>
              <td ng-if='customerCharges.subTotal'>{{customerCharges.subTotal}}</td>
            </tr>
            <tr>
              <td>Tip:</td>
              <td ng-if='!customerCharges.tip'>-</td>
              <td ng-if='customerCharges.tip'>{{customerCharges.tip}}</td>
            </tr>
            <tr>
              <td>TOTAL: </td>
              <td ng-if='!customerCharges.total'>-</td>
              <td ng-if='customerCharges.total'>{{customerCharges.total}}</td>
            </tr>
          </table>
        </div>
        <div class='box earningsInfo'>
          <h3 class='text-center'>My Earnings Info</h3>
          <table>
            <tr>
              <td>Tip Total:</td>
              <td>{{earningsInfo.tipTotal}}</td>
            </tr>
            <tr>
              <td>Meal Count:</td>
              <td>{{earningsInfo.mealCount}}</td>
            </tr>
              <td>Average Tip Per Meal:</td>
              <td>{{earningsInfo.averageTip}}</td>
            <tr></tr>
          </table>
        </div>
        <div class='resetButton'>
          <button ng-click='resetClicked()'>Reset</button>
        </div>
      </div>

    </div>

  </div>
  <script src='bower_components/angular/angular.js'></script>
<script src='src/app.js'></script>
</body>
</html>
